target/
*.iml
.idea/
.vscode/
*.log
*.class
*.jar
*.war
*.nar
*.zip
*.tar.gz
*.rar
.DS_Store

# Maven
.mvn/
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/pom.xml.next
release.properties

# Spring Boot
spring.log
